html{
	/* This image will be displayed fullscreen */
	background:url('../img/background.jpg') no-repeat center center;

	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;

	/* The Magic */
	background-size:cover;
}

body {
	min-height:100%;
	width: 600px;
	margin: 0 auto;
	color: #f0f0f0;
	border:0px solid red;
}

h1 {
	text-align: center;
	margin: 0px;
}

h2 {
	text-align: center;
	margin: 0px;
}

#timer {
	position: absolute;
	top: 10px;
	right: 50px;
}

#output {
	width:100%;
	color: #000;
	height: 200px;
	max-height: 200px;
	overflow: auto;
	border: 1px solid #c0c0c0;
	margin: 10px 0px;
	padding: 0px 10px 10px 10px;
	background-color: #f0f0f0;
	border-radius: 7px;
	clear:both;
}

#commands {
	text-align: left;
	width: 50%;
	margin: 10px 0px 0px 10px;
}

#button {
	margin-left: 10px;
}

.column {
	float: left;
	width: 33%;
	text-align: left;
}

.active {
	color: red;
}
